<div class="col-xs-6 col-xs-push-4">
  <p id="notice"><%= notice %></p>

  <h1>Listando Servicios Publicos</h1>

  <table>
    <thead>
      <tr>
        <div class = "row">
          <div class = "col-xs-9">
            <th>Nombre</th>
            <th>Foto</th>
            <th>Descripcion</th>
            <th>Apertura</th>
            <th>Clausura</th>
            <th>Direccion</th>
            <th>Contacto</th>
          </div>
        </div>
        <div class = "row">
          <th>Lun</th>
          <th>Mar</th>
          <th>Mie</th>
          <th>Jue</th>
          <th>Vie</th>
          <th>Sab</th>
          <th>Dom</th>
        </div>
          <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @servicios_publicos.each do |servicios_publico| %>
        <tr>
          <td><%= servicios_publico.nombre %></td>
          <td><%= servicios_publico.foto %></td>
          <td><%= servicios_publico.descripcion %></td>
          <td><%= servicios_publico.apertura %></td>
          <td><%= servicios_publico.clausura %></td>
          <td><%= servicios_publico.direccion %></td>
          <td><%= servicios_publico.contacto %></td>
          <td><%= servicios_publico.lunes %></td>
          <td><%= servicios_publico.martes %></td>
          <td><%= servicios_publico.miercoles %></td>
          <td><%= servicios_publico.jueves %></td>
          <td><%= servicios_publico.viernes %></td>
          <td><%= servicios_publico.sabado %></td>
          <td><%= servicios_publico.domingo %></td>
          <td><%= link_to 'Show', servicios_publico, :class => "btn btn-default" %></td>
          <td><%= link_to 'Edit', edit_servicios_publico_path(servicios_publico), :class => "btn btn-default" %></td>
          <td><%= link_to 'Destroy', servicios_publico, :class => "btn btn-default" , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Servicios publico', new_servicios_publico_path %>
</div>
