<div class="col-xs-9 col-xs-push-3">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @servicios_publico.nombre %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= @servicios_publico.foto %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= @servicios_publico.descripcion %>
  </p>

  <p>
    <strong>Apertura:</strong>
    <%= @servicios_publico.apertura %>
  </p>

  <p>
    <strong>Clausura:</strong>
    <%= @servicios_publico.clausura %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= @servicios_publico.direccion %>
  </p>

  <p>
    <strong>Contacto:</strong>
    <%= @servicios_publico.contacto %>
  </p>

  <p>
    <strong>Lunes:</strong>
    <%= @servicios_publico.lunes %>
  </p>

  <p>
    <strong>Martes:</strong>
    <%= @servicios_publico.martes %>
  </p>

  <p>
    <strong>Miercoles:</strong>
    <%= @servicios_publico.miercoles %>
  </p>

  <p>
    <strong>Jueves:</strong>
    <%= @servicios_publico.jueves %>
  </p>

  <p>
    <strong>Viernes:</strong>
    <%= @servicios_publico.viernes %>
  </p>

  <p>
    <strong>Sabado:</strong>
    <%= @servicios_publico.sabado %>
  </p>

  <p>
    <strong>Domingo:</strong>
    <%= @servicios_publico.domingo %>
  </p>

  <%= link_to 'Edit', edit_servicios_publico_path(@servicios_publico) %> |
  <%= link_to 'Back', servicios_publicos_path %>
</div>