
<div class="col-xs-9 col-xs-push-3">
  <div class="container">
    <br><br>
    <p id="notice"><%= notice %></p>

    <h1>Lista de locales</h1>

      <% @locals.each do |local| %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <%= local.nombre %>
                </div>

              </div>
              <div class="row">
                <div class="col-xs-12">
                  <%= local.apertura %>

                </div>
                <div class="col-xs-12">
                  <%= local.clausura %>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <%= local.descripcion %>
                </div>
              </div>
                <%= button_to 'Borrar', local, :method => :delete, :class =>"btn btn-default" %>
                <%= link_to 'Ver', local, :class => "btn btn-default"  %>
                <%= link_to 'Editar', edit_local_path(local), :class => "btn btn-default" %>
            </div>
          </div>
        </div>


      <% end %>


    <br>


  </div>
  <%= link_to 'New Local', new_local_path, :class => 'btn' %>
</div>
