<div class="col-xs-9 col-xs-push-3">
  <div class="container">
    <br><br>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Nombre:</strong>
      <%= @local.nombre %>
    </p>

    <p>
      <strong>Apertura:</strong>
      <%= @local.apertura %>
    </p>

    <p>
      <strong>Clausura:</strong>
      <%= @local.clausura %>
    </p>

    <p>
      <strong>Descripcion:</strong>
      <%= @local.descripcion %>
    </p>

    <%= link_to 'Edit', edit_local_path(@local) %> |
    <%= link_to 'Back', locals_path %>
  </div>
</div>
