<div class="col-xs-9 col-xs-push-3">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @servicios_turistico.nombre %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @servicios_turistico.foto %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @servicios_turistico.descripcion %>
</p>

<p>
  <strong>Apertura:</strong>
  <%= @servicios_turistico.apertura %>
</p>

<p>
  <strong>Clausura:</strong>
  <%= @servicios_turistico.clausura %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @servicios_turistico.direccion %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @servicios_turistico.contacto %>
</p>

<p>
  <strong>Lunes:</strong>
  <%= @servicios_turistico.lunes %>
</p>

<p>
  <strong>Martes:</strong>
  <%= @servicios_turistico.martes %>
</p>

<p>
  <strong>Miercoles:</strong>
  <%= @servicios_turistico.miercoles %>
</p>

<p>
  <strong>Jueves:</strong>
  <%= @servicios_turistico.jueves %>
</p>

<p>
  <strong>Viernes:</strong>
  <%= @servicios_turistico.viernes %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @servicios_turistico.sabado %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @servicios_turistico.domingo %>
</p>

<%= link_to 'Edit', edit_servicios_turistico_path(@servicios_turistico) %> |
<%= link_to 'Back', servicios_turisticos_path %>
</div>
